.t-body{
    margin-top: 55px;
    padding: 0 3%;
    list-style: none;
}
.t-body > li{
    position: relative;
    margin-top: 15px;
}
.t-body > li > a > img{
    width:100%;
    border-radius: 5px;
}
.t-body > li > a >span{
    position: absolute;
    bottom: 5px;
    background-color: rgba(0,0,0,0.5);
    color:#fff;
    line-height: 40px;
    display: block;
    width: 100%;
    border-radius: 5px;

}