html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td,input,textarea {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    line-height: inherit;
    border:none;
}
a{
    text-decoration:none;
    color:inherit;
}
ul{
    list-style: none;
}
body{
    font-family: "Microsoft YaHei";
}
.me-i{
    text-align: center;
    margin-top:15px;
}
.me-i > img{
    width: 100px;
    height:100px;
    border-radius: 100px;
}
.webuploader-pick{
    background:url(../images/tx_03.png) no-repeat;
    background-size: 66px;
    position: relative;
    left:50%;
    margin-left:-30px;

}
#WU_FILE_0{
    margin:0 5%;
}
.discuss{
    margin-top: 15px;
}
.affirm{
    display: block;
    position: fixed;
    width: 100%;
    color:#fff;
    background-color:#2b9ee0 ;
    bottom: 0;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    z-index: 9999;
}
.t-img{
    width: 94%;
    margin:0 auto;
}
.t-img>li{
    display: inline-block;
    width: 23%;
    position: relative;
}
.t-img>li>img{
    width: 100%;
}
.t-img>li>span{
   position: absolute;
    z-index: 999;
    right:5px;
    top:5px;
    width: 25px;
    height:25px;

    cursor:pointer;
}
.default{
    background: url(../images/gou.png) no-repeat;
    background-size: 25px;
}
.pitch{
    background: url(../images/gou2_03.png) no-repeat;
    background-size: 25px;
}
input,button,select,textarea{
    outline:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-user-modify:read-write-plaintext-only;
}
textarea{resize:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-user-modify:read-write-plaintext-only;
}