@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

.body {
  background: #fff;
  font-size: 100%;
  font-family: Arial,"微软雅黑";
  overflow-x: hidden; }

.wrap {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto; }

.m-head {
  z-index: 999;
  display: none; }
  .m-head .show-menu.menu {
    z-index: 1000;
    height: 14.1rem;
    transition: all .2s; }
    .m-head .show-menu.menu ul {
      height: 14.1rem;
      transition: all .2s;
      display: block; }
  .m-head .menu {
    background-color: white;
    position: absolute;
    top: 1.5625rem;
    left: 0;
    z-index: -100;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: all .2s; }
    .m-head .menu ul {
      height: 0;
      transition: all .2s;
      display: none;
      line-height: 2.25rem;
      padding: 0 0.625rem;
      border-bottom: 1px solid #101010; }
      .m-head .menu ul li {
        border-bottom: 1px solid #ccc; }
        .m-head .menu ul li:last-child {
          border: none; }
        .m-head .menu ul li a {
          color: black;
          text-decoration: none; }
          .m-head .menu ul li a:hover {
            color: #ff5500; }
  .m-head .bar {
    width: 100%;
    display: flex;
    top: 0;
    left: 0; }
    .m-head .bar .left-menu {
      position: absolute;
      left: 0.625rem;
      top: 0.3125rem;
      width: 1rem;
      height: 1rem; }
      .m-head .bar .left-menu img {
        width: 100%;
        height: 100%; }
    .m-head .bar .m-logo {
      background-color: white;
      flex: 1;
      display: flex;
      justify-content: center;
      width: 3.4rem;
      height: 1.55rem; }
      .m-head .bar .m-logo img {
        width: 17%;
        height: 100%; }

.head {
  width: 100%; }
  .head .nav {
    display: flex;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto; }
    .head .nav a {
      display: block;
      width: 320px;
      color: #999; }
      .head .nav a h1 {
        width: 320px;
        height: 76px;
        background: url("images/logo.jpg") no-repeat 17px center; }
    .head .nav ul {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      height: 60px; }
      .head .nav ul .select {
        border-bottom: 2px solid #ff7200; }
        .head .nav ul .select a {
          color: #ff5500; }
      .head .nav ul li {
        position: relative;
        flex: 0 0 auto;
        list-style: none;
        padding: 30px 10px 5px 10px;
        margin-left: 10px; }
        .head .nav ul li a {
          font-weight: bold;
          display: inline;
          cursor: pointer;
          text-decoration: none; }
          .head .nav ul li a:hover {
            color: #ff5500; }
        .head .nav ul li ul {
          background-color: white;
          top: 50px;
          left: 3px;
          width: 84px;
          height: initial;
          margin-top: 5px;
          border: 1px solid #e0e0e0;
          position: absolute;
          display: none; }
          .head .nav ul li ul li {
            margin: 0;
            padding: 0;
            font-size: 13px;
            font-weight: normal;
            height: 35px;
            line-height: 34px;
            text-align: center;
            border-bottom: 1px solid #e0e0e0; }
            .head .nav ul li ul li a {
              font-weight: normal; }
        .head .nav ul li:hover .pulldown {
          z-index: 100;
          display: block; }

.banner {
  width: 100%;
  height: 520px;
  border-bottom: 1px solid #ccc;
  background: #f8f7f5;
  overflow: hidden; }
  .banner .wrap {
    height: 100%;
    position: relative; }
    .banner .wrap span {
      display: block;
      cursor: pointer;
      position: absolute;
      width: 30px;
      height: 50px;
      z-index: 50;
      top: 50%; }
    .banner .wrap .go-left {
      background: url("images/left.png") no-repeat;
      left: 0; }
    .banner .wrap .go-right {
      background: url("images/right.png") no-repeat;
      right: 0; }
    .banner .wrap .on {
      opacity: 1;
      z-index: 3; }
    .banner .wrap section {
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0;
      z-index: 1;
      width: 100%;
      transform: translate(-50%, -50%);
      transition: all 1s; }
      .banner .wrap section img {
        display: block;
        margin: 0 auto; }

.aside {
  margin: 7px 0;
  width: 100%;
  height: 180px; }
  .aside .wrap {
    display: flex; }
    .aside .wrap section {
      overflow: hidden;
      flex: 0 0 320px;
      justify-content: center; }
      .aside .wrap section img {
        width: 320px; }
      .aside .wrap section a {
        display: block;
        border-left: 6px solid white; }

.foot {
  margin: 10px auto;
  width: 100%;
  max-width: 1280px; }
  .foot .links {
    width: 100%;
    margin: 0 auto;
    font-size: 12px;
    font-weight: bold;
    margin-left: 35px; }
    .foot .links .no-border {
      border: none; }
    .foot .links a {
      padding: 0 20px;
      border-right: 1px solid black;
      line-height: 30px;
      text-decoration: none;
      color: #999; }
      .foot .links a:hover {
        text-decoration: underline; }
    .foot .links span {
      font-weight: normal;
      color: #bbb; }
      .foot .links span:last-child {
        display: block;
        width: 330px;
        margin: 0 auto 20px auto; }

@media only screen and (max-width: 767px) {
  .head {
    display: none; }

  .m-head {
    display: block; }

  .banner {
    height: 415px; }
    .banner .wrap img {
      width: 100%;
      height: 100%; }
    .banner .wrap .go-right,
    .banner .wrap .go-left {
      display: none; }

  .aside {
    height: 720px;
    overflow: hidden; }
    .aside .wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .aside .wrap section {
        flex: 0 0 180px; }

  .foot .links {
    margin-left: 0;
    text-align: center; }
    .foot .links a {
      padding: 0 10px 0 10px; }
    .foot .links span + a {
      display: block; } }
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .head .nav ul li:nth-child(2) {
    display: none; }

  .banner .wrap .img img {
    width: 768px; }
  .banner .wrap .go-left,
  .banner .wrap .go-right {
    display: none; }

  .aside {
    height: 370px; }
    .aside .wrap {
      justify-content: center;
      flex-wrap: wrap; }

  .foot .links {
    margin-left: 0;
    text-align: center; }
    .foot .links span + a {
      display: block; } }

/*# sourceMappingURL=style.css.map */
